<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Log In Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/62aa54e062.js" crossorigin="anonymous"></script>

    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }

        .form-white.input-group>.form-control:focus {
            border-color: #fff;
            box-shadow: inset 0 0 0 1px #fff;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: #fff;
        }

        .navbar-dark .navbar-nav .nav-link:hover,
        .navbar-dark .navbar-nav .nav-link:focus {
            color: rgba(255, 255, 255, 0.75);
        }
    </style>
</head>

<body>
    <!-- ADD NEW MODAL START -->
    <!-- <div class="modal fade" id="addNewCourseToUser"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center fw-bold">Add Module</h5>
              <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="add-user-form" class="p-2" novalidate>
                <div class="mb-3">
                    <div class="row mb-3">
                        <div class="col text-center">
                            <select class="w-100">
                                <option th:each="course: ${courses}" th:value="${course.course_id}" th:text="${course.course_name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div> -->
    <!-- ADD NEW MODAL END -->

    <!-- NavBar START -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                </li>
                <li class="nav-item me-3 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" type="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-graduation-cap fa-xl"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="/admin/display/login">Log out</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li> -->
                    </ul>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/display/students">Home</a>
                    </li>
                </ul>
                <!-- <ul class="navbar-nav d-flex flex-row ms-auto me-3">
          </li>
          <li class="nav-item me-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" type="button" data-mdb-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul> -->
            </div>
        </div>
    </nav>
    <!-- NavBar End -->



    <div class="container-sm text-center">
        <div class="row mt-4">
            <div class="col-lg-12 d-flex justify-content-between align-items-center">
                <div>
                    <span class="d-flex">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <h4 th:text="${admin.getAdmin_name()}" class="text-primary ms-2 text-lg-start"></h4>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-sm">
            <form class="row mb-3 gx-3" th:action="@{/admin/display/student/update}" th:object="${student}"
                method="post">
                <div class="col">
                    <div class="form-floating mb-3">

                        <input class="form-control form-control-lg" type="text" id="stud_id" th:field="*{student_id}"
                            readonly="true">
                        <label for="stud_id">Student ID</label>
                        <div class="invalid-feedback">First name is required!</div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating">
                        <input class="form-control form-control-lg" type="text" id="student_name" name="student_name"
                            required th:field="*{student_name}">
                        <label for="student_name">Student Name</label>

                    </div>
                </div>
                <div class="mb-3 form-floating">
                    <input class="form-control form-control-lg" type="email" name="mail" id="email" required
                        th:field="*{email}">
                    <label for="student_email">Email Address</label>
                </div>

                <div class="mb-3 form-floating">
                    <input class="form-control form-control-lg" type="text" name="student_address" id="student_address"
                        required th:field="*{student_address}">
                    <label for="student_address">Address</label>
                </div>

                <div class="mb-3 form-floating">
                    <input class="form-control form-control-lg" type="password" id="password" name="password"
                        th:field="*{password}">
                    <label for="student_password">New Password</label>
                </div>

                <div class="mb-3 text-start">
                    <button class="btn btn-primary" type="submit">Update Details</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>